<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.getting.started"
	version 	= "99.999">

	<name>PhoneGap: Fabian's Test</name>

	<description>
		Amazing app
	</description>

	<author href="http://fhanggi.github.com"
		email="fhanggi@hotmail.com">
		Fabian Hanggi
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
